
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Multi-page template</title>

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>




<!-- Start of first page: #one -->
<div data-role="page" id="one">

	<div data-role="header">
		<h1>Multi-page-for Login/Signup</h1>
	</div><!-- /header -->

	

	<div role="main" class="ui-content">
		<h2>Welcome to my Web Software assignment!</h2>
	
		<br>
        Welcome to the application, login or register.

		<h3>Show internal pages:</h3>
		<p><a href="#register" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
		<p><a href="#login" class="ui-btn ui-shadow ui-corner-all">Login</a></p>

	</div><!-- /content -->

	<div data-role="footer" data-theme="a">
		<h4>Stephen Holland Assignment</h4>
	</div><!-- /footer -->
</div><!-- /page one -->

<!-- Start of Register page: #two -->
<div data-role="page" id="two" data-theme="a">

	<div data-role="header">
		<h1>Registering a new user account</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Two</h2>
		<p>I have an id of "two" on my page container. I'm the second page container in this multi-page template.</p>
		<p>Notice that the theme is different for this page because we've added a few <code>data-theme</code> swatch assigments here to show off how flexible it is. You can add any content or widget to these pages, but we're keeping these simple.</p>
		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Back to page "one"</a></p>

	</div><!-- /content -->

	<div data-role="footer">
		<h4>stephen holland B00122664 assignment</h4>
	</div><!-- /footer -->
</div><!-- /page two -->

<!-- Start of third page: #popup -->
<div data-role="page" id="popup">

	<div data-role="header" data-theme="b">
		
		<h1>Dialog</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Popup</h2>
		<p>I have an id of "popup" on my page container and only look like a dialog because the link to me had a <code>data-rel="dialog"</code> attribute which gives me this inset look and a <code>data-transition="pop"</code> attribute to change the transition to pop. Without this, I'd be styled as a normal page.</p>
		<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back to page "one"</a></p>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page popup -->




<!--  Strart of login page ------->

<div data-role="page" id="login" data-theme="a">
<div data-role="header">
	
		<h1>Login page</h1>
	</div><!-- /header -->

<div role="main" class="ui-content">

    Username <input type="text" name="login_username" id="login_username" value="">
    Password <input type="text" name="login_pass" id="login_pass" value="">

<button class="ui-btn" id="loginButton">Submit</button>


<h4>Login credentials</h4><br>
<p>  User password  AccType </p>
<p>	s@m.com	    1       customer   </p>	<br>
<p>	s@ms.com	2	    driver	</p> <br>
<p>	s@msn.com	3	    manager	</p> <br>

	</div><!-- /content -->


</div>





<!--  Strart of register page ------->

<div data-role="page" id="register" data-theme="a">
	<!DOCTYPE html>
	<html lang="en">
	<head>
	  <title>Register</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	  <style>
		/* Remove the navbar's default rounded borders and increase the bottom margin */ 
		.navbar {
		  margin-bottom: 50px;
		  border-radius: 0;
		}
		
		/* Remove the jumbotron's default bottom margin */ 
		 .jumbotron {
		  margin-bottom: 0;
		}
	   
		/* Add a gray background color and some padding to the footer */
		footer {
		  background-color: #f2f2f2;
		  padding: 25px;
		}
	  </style>
	</head>
<div role="main" class="ui-content"> 
		<h2>Register</h2>
      
       Username <input type="text" name="username" id="username" value="">
       Password <input type="text" name="pass" id="pass" value="">
       Acctype <input type="text" name="acctype" id="acctype" value="">
	   <button class="ui-btn" id="registeredButton">Submit</button>
	   
<li><a href="#/index">LogIn</a></li>
	</div><!-- /content --->
</div>


<!----------   Stary of Manager page --------------->

<div data-role="page" id="manager" data-theme="a">
	<head>
		<button class="btn btn-primary"  id="logoutButton">Logouts</button>
		<body >
		<title>Manager</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
		
		
	  </head>
	  <body>
	  
		<nav class="navbar navbar-default">
			<div class="container-fluid">
			  <div class="navbar-header">
				<a class="navbar-brand" href="#">WebSoftwareAssignment</a>
				<a href="#/index">Home</a>
			  </div>
			  <ul class="nav navbar-nav">
				
				<li>
				<button class="btn btn-primary"  id="logoutButton">Logout</button>
		
			
			  </ul>
			</div>
		  </nav>

		  <script>
			var newArray = document.getElementById("data81").innerHTML;
		//	alert(newArray);
			
			</script>
		  
<div class="container">

	<div data-role="header">
		<h1>Manager page!</h1>
		
	</div><!-- /header -->
	
	<p>press here to Log out</p>
<div id="data1"></div>
<!--  chart div -->
<div id="data81"></div>
<div id="data91"></div>
<canvas id="myChart" width="400" height="400"></canvas>


</div>







	</div>

	<script>
	
		
		</script>


	</div>

	</div>



<!---     Beginning of Driver PAge ------------>
<div data-role="page" id="driver" data-theme="a">

	<head>
	<body >

	<title>Driver page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		  <div class="navbar-header">
			<a class="navbar-brand" href="#">WebSoftwareAssignment</a>
			<a href="#/index">Home</a>
			<li><a href="#/weather/index">Get the Weather forcast !!!!!!!!!!!!!!</a></li>
		  </div>
		  <ul class="nav navbar-nav">
			
			<li>
			<button class="btn btn-primary"  id="logoutButton">Logout</button>
	
		
		  </ul>
		</div>
	  </nav>

<div class="container">

			<div data-role="header">
				<h1>Driver page!</h1>
			</div><!-- /header -->
			
<p>press here to Log out</p>	
<div id="data5"></div>
		
</div>
</body>

</div>


		
		



	
<!--  Start of Customer Page ------------->
		
<div data-role="page" id="customer" data-theme="a">
	<head>
	
		<body >
		<title>Customer</title>
		<meta charset="utf-8">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	  </head>
	  <body>
	
		<nav class="navbar navbar-default">
			<div class="container-fluid">
			  <div class="navbar-header">
				<a class="navbar-brand" href="#">WebSoftwareAssignment</a>
				<a href="#/index">Home</a>
				
			  </div>
			  <ul class="nav navbar-nav">
				
				<li>
				
		
			
			  </ul>
			</div>
		  </nav>
			



	  

		    <div class="container">

				<div data-role="header">
					<h1>Customer Page</h1>
				</div><!-- /header -->
				<p>press here to Log out</p>
				  <div id = "data2"> <p>Please Log in</p> </div>
				 
			
			<div role="main" class="ui-content">

				<form action="">
			
					<br>
					<input type="button" class="ui-btn" onclick="appendOrder()" value="add to order list + ">
					<br><br>
		
				  </form>
				
					
				   Your Order List <input type="text" name="productOrdered" id="productOrdered" value="">
				   Total Cost <input type="text" name="totalCost" id="totalCost" value="">
				  
			<button class="btn btn-primary" id="orderButton">Send Order</button>		
	


			<div id = "data4"> <p>Your Orders are loading ....</p> </div>	
			<div id = "data14"> <p></p> </div>	
			<h3>News </h3>
			<div id = "output"> <p>Loading news ........</p> </div>	

		


		


		
		</body>
	
	
</div>	
<div data-role="footer">
	<h1>WebSoftwareAssignment</h1>
</div><!-- /header -->

</html>





















<!--------------  Start of the javascript functions ------------------------>

<script>

	
$("p").click(function(){
    
	$.post( "/backend", { type: "logout" })
    .done(function( data ) {
	//	alert("You choose to log out.");
	  window.location="/index#login";
  });

  });




$( "#loginButton" ).click(function() {

    var un = $("#login_username").val();
    var pw = $("#login_pass").val();
  
 

    $.post( "/backend", { type: "login", username:un, password:pw})
    .done(function( data ) {
		//Alert out the error message retirned from the login 
   //	alert(data);

	if (data == 'customer'){
			window.location="/index#customer";
			document.getElementById("data2").innerHTML = window.productsFunction();
			document.getElementById("data4").innerHTML = window.displayOneordersFunction();
			document.getElementById("output").innerHTML = window.getNews();
	}else if(data == 'driver'){
		
			window.location="/index#driver";
			document.getElementById("data5").innerHTML = window.displayordersFunction();


	}else if(data == 'manager'){
			window.location="/index#manager";
		//	document.getElementById("data5").innerHTML = window.displayOneordersFunction();
		
		
	}
  });

});








    $( "#registeredButton" ).click(function() {

		alert("Register button pressed");
	
    var un = $("#username").val();
    console.log(un);
    var pw = $("#pass").val();
    console.log(pw);
    var ac = $("#acctype").val();
    console.log(ac);

    $.post( "/backend", { type: "register", username:un, password:pw, acctype:ac})
    .done(function( data ) {
  alert(data);
  		});

    });




	
    $( "#orderButton" ).click(function() {
	
		
    var po = $("#productOrdered").val();
	var tc = $("#totalCost").val();
    console.log(po);

    $.post( "/backend", { type: "orders", productsordered:po, totalcost:tc})
    .done(function( data ) {
  	alert("Product Ordered");
  });

    });



	$("#completeChart").click(function(){
		//var newArray1 = [4,1];
		 newArray1 = document.getElementById("data81").value;
	
	
		
		var ctx = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(ctx, {
			
			type: 'bar',
			data: {
				labels: ['Open', 'Complete'],
				datasets: [{
					label: '# Status',
					data: newArray1 ,
					backgroundColor: [
					
						'rgba(153, 102, 255, 0.2)',
						'rgba(255, 159, 64, 0.2)'
					],
					borderColor: [
					
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});



	});








	


////////////////////order table  clicked //////////////////////




	


function productsFunction(){


	$.post( "/backend", { type: "products"})
    .done(function( data_return ) {


$('#data2').html(data_return);

var searchValue = "product";

    



});
}   



///////////////////////////////////////displayorders and chart /////////////////////////

var tdValue ;	





function displayordersFunction(){


	$.post( "/backend", { type: "displayorders"})
    .done(function( data_return ) {
		
		
//display on mangaer page and driver page
$('#data1').html(data_return);
$('#data5').html(data_return);




// Get Satutus info for chart.js for manager page
var Statusarray = []; //set up empty array
var CompleteArray = [];
var OpenArray = [];

for (i=0;i<td.length ; i++){
tdValue = td[i].innerHTML;

Statusarray.push(tdValue)


			
$('#data81').html(Statusarray);



	

}

/////////GET DIV ELEMENT VALUES TO PASS TO CHART /////////////////

var allData = document.getElementById("data81").innerHTML ;

//  PUSH TO ARRAY THEN GET INDEX COUNT

var resOpen = allData.match(/Open/gi);
var resOpen = resOpen.toString();
OpenArray.push(resOpen);

var resComplete = allData.match(/Complete/gi);
var resComplete= resComplete.toString();
OpenArray.push(resComplete);


  var Openres = resOpen.split(",");
//  alert(Openres.length);
//  PUSH TO ARRAY THEN GET INDEX COUNT
var Completeres = resComplete.split(",");
//  alert(Completeres.length);

  CompleteArray.push(Openres.length,Completeres.length);
 // alert(CompleteArray);

  document.getElementById("data81").innerHTML = CompleteArray;




  newArray1 = document.getElementById("data81").value;


		///CHART PART
		
		var ctx = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(ctx, {
			
			type: 'bar',
			data: {
				labels: ['Open', 'Complete'],
				datasets: [{
					label: '# Status',
					data: CompleteArray ,
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(75, 192, 192, 0.2)',
						'rgba(153, 102, 255, 0.2)',
						'rgba(255, 159, 64, 0.2)'
					],
					borderColor: [
						'rgba(255, 99, 132, 1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});


});
}  







function displayOneordersFunction(){


	$.post( "/backend", { type: "displayOneorder"})
    .done(function( data_return ) {
	//	alert(data_return);


$('#data4').html(data_return);





});
}   




function newProductsFunction(){
	
	$.post( "/donuts", { type: "new"})
    .done(function( data_return ) {



$('#data').html("");

	var obj = JSON.parse(s);
$('#data').html(s);

var searchValue = "product";


// loop through the elements
for (var i = 0; i < elements.length; i++) {
    if (elements[i].innerHTML.indexOf(product) > -1) {
    
    }
}
});
}  

function getNews(){
	
		$.getJSON("http://newsapi.org/v2/everything?q=food&from=2020-05-16&sortBy=publishedAt&apiKey=13aab3a68ae94691ad60ecc72d99772a",
		function(data) {
		//	alert(data);
			for(var i=0; i<data.articles.length ; i++){
		var singleTitle = data.articles[i].title;
		var singleArticle = data.articles[i].description;

		$('#output').append("TITLE:" + '<br>'+ ""+singleArticle + '<br>'+ "DESCRIPTION:" + '<br>'+ "" + singleArticle + '<br>')  ;


			}
			});

 
  }




	function appendOrder() {
		console.log("inside appendOrder");
		var txt = "";
		var newtxt = 0;
		var newtxt1 = 0;
		var sum = '';
	  	var i;
		var allSizes = []; //set up empty array

	

		for (i = 0; i < 40; i++) {
    if (myRadio[i].checked) {
		txt = txt + myRadio[i].value + " ";
		var number = parseInt(myRadio[i].name );
		
		newtxt1 = myRadio[i].name + myRadio[i].name ;
		allSizes.push(number)

		
		document.getElementById("productOrdered").value =  txt;
		const reducer = (accumulator, currentValue) => accumulator + currentValue;
		document.getElementById("totalCost").value =   allSizes.reduce(reducer);;
    }

	
	

  }
  alert(allSizes.reduce(reducer));



	}




	
	</script>
	
	
	<!--load on refresh on page-->
<script>document.getElementById("data2").innerHTML = window.productsFunction();	</script>
<script>document.getElementById("data1").innerHTML = window.displayordersFunction();	</script>
<script>document.getElementById("data4").innerHTML = window.displayOneordersFunction();</script>
<script>document.getElementById("data5").innerHTML = window.displayOneordersFunction();</script>

<script>document.getElementById("output").innerHTML = window.getNews();</script>













</html>


